<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <tbody>
      <% @join_rooms.each do |r| %>   <!-- @userが参加しているルームを取り出す -->
        <li><%= link_to "#{r.room.name }のチャットルーム", room_path(r.room.id) %></li>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
